/GoogleAnalyticsTracker.sln.DotSettings.user
/GoogleAnalyticsTracker.sln.docstates.suo
/GoogleAnalyticsTracker.suo
/GoogleAnalyticsTracker/GoogleAnalyticsTracker.csproj.user
/GoogleAnalyticsTracker.WindowsPhone.sln.DotSettings.user
/GoogleAnalyticsTracker.WindowsPhone.sln.docstates.suo
/GoogleAnalyticsTracker.WindowsPhone.suo
/GoogleAnalyticsTracker.WindowsPhone/GoogleAnalyticsTracker.WindowsPhone.csproj.user
/msbuild.log
/_ReSharper.*
/GoogleAnalyticsTracker/bin/*
/GoogleAnalyticsTracker/obj/*
/packages/*
/Build/*
obj/
bin/
*.suo
*.user