/GoogleAnalyticsTracker.sln.DotSettings.user
/GoogleAnalyticsTracker.sln.docstates.suo
/GoogleAnalyticsTracker.suo
/msbuild.log
/_ReSharper.GoogleAnalyticsTracker/*
/GoogleAnalyticsTracker/bin/*
/GoogleAnalyticsTracker/obj/*
/packages/*
/Build/*
